In [1]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String

# Create an in-memory SQLite database for testing
engine = create_engine('sqlite:///:memory:', echo=True)

# Create an empty metadata object
metadata = MetaData()

# Define the shoppers table
shoppers_table = Table('shoppers', metadata,
                       Column('id', Integer, primary_key=True),
                       Column('name', String(50)),
                       Column('product', String(100)),
                       Column('orders', Integer)
                       )

# Create the table in the database
metadata.create_all(engine)

# Print the list of table names
print(metadata.tables.keys())

2023-07-13 15:52:11,961 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-07-13 15:52:11,961 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("shoppers")
2023-07-13 15:52:11,961 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-07-13 15:52:11,969 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("shoppers")
2023-07-13 15:52:11,969 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-07-13 15:52:11,969 INFO sqlalchemy.engine.Engine
CREATE TABLE shoppers (
	id INTEGER NOT NULL,
	name VARCHAR(50),
	product VARCHAR(100),
	orders INTEGER,
	PRIMARY KEY (id)
)


2023-07-13 15:52:11,974 INFO sqlalchemy.engine.Engine [no key 0.00135s] ()
2023-07-13 15:52:11,974 INFO sqlalchemy.engine.Engine COMMIT
dict_keys(['shoppers'])

In [5]:
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, String
from sqlalchemy.orm import sessionmaker
import random

# Create an in-memory SQLite database for testing
engine = create_engine('sqlite:///:memory:', echo=True)

# Create an empty metadata object
metadata = MetaData()

# Define the shoppers table
shoppers_table = Table('shoppers', metadata,
                       Column('id', Integer, primary_key=True),
                       Column('name', String(50)),
                       Column('product', String(100)),
                       Column('orders', Integer)
                       )

# Create the table in the database
metadata.create_all(engine)

# Create a session
Session = sessionmaker(bind=engine)
session = Session()

# Generate and insert sample data
sample_data = [
    {'name': 'John Smith', 'product': 'Shirt', 'orders': random.randint(1, 10)},
    {'name': 'Jane Doe', 'product': 'Jeans', 'orders': random.randint(1, 10)},
    {'name': 'Michael Johnson', 'product': 'Shoes', 'orders': random.randint(1, 10)},
    {'name': 'Emily Davis', 'product': 'Shoes', 'orders': random.randint(1, 10)},
    {'name': 'David Wilson', 'product': 'Shoes', 'orders': random.randint(1, 10)},
    {'name': 'Olivia Thompson', 'product': 'Shoes', 'orders': random.randint(1, 10)},
    {'name': 'James Anderson', 'product': 'Shoes', 'orders': random.randint(1, 10)},
    {'name': 'Sophia Rodriguez', 'product': 'Shoes', 'orders': random.randint(1, 10)},
    {'name': 'Ethan Lee', 'product': 'Shoes', 'orders': random.randint(1, 10)},
    {'name': 'Ava Martinez', 'product': 'Shoes', 'orders': random.randint(1, 10)}
 
    # Add more rows as needed
]

for data in sample_data:
    shopper = shoppers_table.insert().values(**data)
    session.execute(shopper)

# Commit the changes to the database
session.commit()

# Query and print the data from the shoppers table
select_query = shoppers_table.select()
result = session.execute(select_query)

for row in result:
    print(row)

# Close the session and connection

2023-07-13 16:32:28,719 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-07-13 16:32:28,720 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("shoppers")
2023-07-13 16:32:28,721 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-07-13 16:32:28,723 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("shoppers")
2023-07-13 16:32:28,724 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-07-13 16:32:28,726 INFO sqlalchemy.engine.Engine
CREATE TABLE shoppers (
	id INTEGER NOT NULL,
	name VARCHAR(50),
	product VARCHAR(100),
	orders INTEGER,
	PRIMARY KEY (id)
)


2023-07-13 16:32:28,727 INFO sqlalchemy.engine.Engine [no key 0.00079s] ()
2023-07-13 16:32:28,728 INFO sqlalchemy.engine.Engine COMMIT
2023-07-13 16:32:28,730 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-07-13 16:32:28,731 INFO sqlalchemy.engine.Engine INSERT INTO shoppers (name, product, orders) VALUES (?, ?, ?)
2023-07-13 16:32:28,732 INFO sqlalchemy.engine.Engine [generated in 0.00107s] ('John Smith', 'Shirt', 4)
2023-07-13 16:32:28,733 INFO sqlalchemy.engine.Engine INSERT INTO shoppers (name, product, orders) VALUES (?, ?, ?)
2023-07-13 16:32:28,734 INFO sqlalchemy.engine.Engine [cached since 0.003159s ago] ('Jane Doe', 'Jeans', 2)
2023-07-13 16:32:28,735 INFO sqlalchemy.engine.Engine INSERT INTO shoppers (name, product, orders) VALUES (?, ?, ?)
2023-07-13 16:32:28,736 INFO sqlalchemy.engine.Engine [cached since 0.004599s ago] ('Michael Johnson', 'Shoes', 5)
2023-07-13 16:32:28,737 INFO sqlalchemy.engine.Engine INSERT INTO shoppers (name, product, orders) VALUES (?, ?, ?)
2023-07-13 16:32:28,738 INFO sqlalchemy.engine.Engine [cached since 0.007116s ago] ('Emily Davis', 'Shoes', 2)
2023-07-13 16:32:28,740 INFO sqlalchemy.engine.Engine INSERT INTO shoppers (name, product, orders) VALUES (?, ?, ?)
2023-07-13 16:32:28,741 INFO sqlalchemy.engine.Engine [cached since 0.01004s ago] ('David Wilson', 'Shoes', 6)
2023-07-13 16:32:28,744 INFO sqlalchemy.engine.Engine INSERT INTO shoppers (name, product, orders) VALUES (?, ?, ?)
2023-07-13 16:32:28,745 INFO sqlalchemy.engine.Engine [cached since 0.01416s ago] ('Olivia Thompson', 'Shoes', 5)
2023-07-13 16:32:28,747 INFO sqlalchemy.engine.Engine INSERT INTO shoppers (name, product, orders) VALUES (?, ?, ?)
2023-07-13 16:32:28,747 INFO sqlalchemy.engine.Engine [cached since 0.01625s ago] ('James Anderson', 'Shoes', 7)
2023-07-13 16:32:28,749 INFO sqlalchemy.engine.Engine INSERT INTO shoppers (name, product, orders) VALUES (?, ?, ?)
2023-07-13 16:32:28,750 INFO sqlalchemy.engine.Engine [cached since 0.01857s ago] ('Sophia Rodriguez', 'Shoes', 2)
2023-07-13 16:32:28,750 INFO sqlalchemy.engine.Engine INSERT INTO shoppers (name, product, orders) VALUES (?, ?, ?)
2023-07-13 16:32:28,751 INFO sqlalchemy.engine.Engine [cached since 0.0203s ago] ('Ethan Lee', 'Shoes', 6)
2023-07-13 16:32:28,752 INFO sqlalchemy.engine.Engine INSERT INTO shoppers (name, product, orders) VALUES (?, ?, ?)
2023-07-13 16:32:28,753 INFO sqlalchemy.engine.Engine [cached since 0.02237s ago] ('Ava Martinez', 'Shoes', 5)
2023-07-13 16:32:28,755 INFO sqlalchemy.engine.Engine COMMIT
2023-07-13 16:32:28,756 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-07-13 16:32:28,757 INFO sqlalchemy.engine.Engine SELECT shoppers.id, shoppers.name, shoppers.product, shoppers.orders
FROM shoppers
2023-07-13 16:32:28,758 INFO sqlalchemy.engine.Engine [generated in 0.00061s] ()
(1, 'John Smith', 'Shirt', 4)
(2, 'Jane Doe', 'Jeans', 2)
(3, 'Michael Johnson', 'Shoes', 5)
(4, 'Emily Davis', 'Shoes', 2)
(5, 'David Wilson', 'Shoes', 6)
(6, 'Olivia Thompson', 'Shoes', 5)
(7, 'James Anderson', 'Shoes', 7)
(8, 'Sophia Rodriguez', 'Shoes', 2)
(9, 'Ethan Lee', 'Shoes', 6)
(10, 'Ava Martinez', 'Shoes', 5)

In [9]:
names = Table('users',metadata)
products = Table('products',metadata)
orders = Table('orders',metadata)
names

Table('users', MetaData(), schema=None)